<a href="https://colab.research.google.com/github/kwon0136/MachineLearning/blob/master/190219/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("Hello")

Hello

In [0]:
name = "이순신"
#print(name)
name

'이순신'

In [0]:
name = input("입력 : ")
print(name)

입력 : 홍길동
홍길동

In [0]:
name = input("이름을 입력해주세요 : ")
age = input("나이를 입력해주세요 : ")
print("%s, %s" %(name, age))

이름을 입력해주세요 : 이순신
나이를 입력해주세요 : 20
이순신, 20

In [0]:
#산술연산자
print(3 +10)
print(3 ** 10)
print(3 % 10)
print(3 / 2)

13
59049
3
1.5

In [0]:
#비교연산자
print(10 >= 3)
print(10 <= 3)
print(10 == 3)
print(10 != 3)
print(3 % 2 == 1)

True
False
False
True
True

In [0]:
#논리연산자
print(1 == 1 and 2 != 1)
print(10 % 2 != 0 and 1 + 1 > 0)
print(10 % 2 != 0 or 1 + 1 > 0)
print(not True)
print(not 0)

True
False
True
False
True

In [0]:
import random
print(random.randint(1,6))

5

In [0]:
for name in [1,2,3,4]:
    print(name)

1
2
3
4

In [0]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [0]:
for i in range(2, 10):
    for j in range(1, 10):
        print("%d X %d = %d" %(i,j, i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [0]:
name = "john"
for s in name:
    print(s)

j
o
h
n

In [0]:
a = 0
while a < 100:
    print(a, end=" ")
    a += 1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [0]:
names = ['인천', '송도', '연수', '남동']
print(names)
names.append('동추')
print(names)
print(len(names))
print(names[0], names[3])
print(names[-1])
print(names[1:3])
print(names[:])

['인천', '송도', '연수', '남동']
['인천', '송도', '연수', '남동', '동추']
5
인천 남동
동추
['송도', '연수']
['인천', '송도', '연수', '남동', '동추']

In [0]:
names = ('이순신', '강감찬', '권율')
print(names[0])

이순신

In [0]:
print(names)

('이순신', '강감찬', '권율')

In [0]:
#del names[0]

In [0]:
menus = {'카페라떼':2500, '아이스라떼':3000, '핫초코':2000}
print(menus)
print(menus['카페라떼'])

{'카페라떼': 2500, '아이스라떼': 3000, '핫초코': 2000}
2500

In [0]:
menu = input("원하는 메뉴 입력 : ")
print(menus[menu])

원하는 메뉴 입력 : 아이스라떼
3000